db
*.qpf
*.vcd
*.vwf
simulation
incremental_db
output_files
steps_cpu
run_model/*.h
llama2.c/*.h
llama2.c/kernel.bin
llama2.c/kernel.elf
llama2.c/*.bin
llama2.c/*.safetensors
*.txt
cpu_on_board/py
cpu_on_board/py/
create_mini_linux/riscv64-linux
create_mini_linux/busybox
create_mini_linux/buildroot
create_mini_linux/buildroot_bk
create_mini_linux/riscv64-gnu-toolchain
